.main-container {
	justify-content: center;
	height: calc(100vh - 100px);
}

.column-title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.center.column {
	width: 25%;
	background-color: var(--white);
	padding: 2.5rem;
	border-radius: 1rem;
	box-shadow: 5px 5px 10px -5px var(--translucent-gray);
}