.navbar {
	height: 100px;
	max-height: 100px;
	background-color: var(--white);
	padding: 0px 140px;
	display: flex;
	align-items: center;
}

.navbar a,
a.cta {
	text-decoration: none;
}

.navbar .logo {
	font-size: 42px;
	font-weight: bold;
	color: var(--black);
	font-family: "Assistant", sans-serif;
}

.logo .left {
	color: var(--black);
}

.logo .right {
	color: var(--primary-colour);
}

.cta {
	display: inline-block;
	border-radius: 1.5rem;
	margin: 1rem;
}

.filled.cta {
	color: var(--white);
	background-color: var(--primary-colour);
}

.cta.small {
	padding: 10px 20px 11px 20px;
	font-size: 1.2rem;
}

.border.cta {
	color: var(--primary-colour);
	background-color: var(--white);
	outline: 2px solid var(--primary-colour);
}

.border.cta.small {
	margin-left: auto;
}

.main-container {
	width: 70%;
	max-width: 85rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	height: calc(100vh - 100px);
}

.main-container .left.column {
	width: 42%;
	position: relative;
	left: 8rem;
}

.main-container .right.column {
	width: 25%;
}

.column {
	height: 450px;
}

.headline {
	font-family: "Open Sans", sans-serif;
	font-size: 3.5rem;
	font-weight: bold;
}

.sub-headline {
	font-size: 1.2rem;
	color: var(--secondary-colour);
	margin: 1rem 0;
	font-family: "Roboto", sans-serif;
}

.cta.primary {
	position: relative;
	border-radius: 3rem;
	padding: 15px 30px 18px 30px;
	font-size: 2.3rem;
	margin: 0;
	top: 4rem;
}

.img {
	width: 100%;
}
