.navbar {
    height: 100px;
    max-height: 100px;
    background-color: var(--white);
    padding: 0px 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px -5px var(--translucent-gray);
}

.main-container {
    justify-content: center;
    height: calc(100vh - 100px);
}

.column-title {
    font-size: 30px;
    font-weight: bold;
}

.cta.primary {
    background-color: var(--primary-colour);
    border-radius: 3rem;
    padding: 15px 30px 18px 30px;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    color: var(--white);
    width: 100%;
}

.center.column {
    width: 25%;
    background-color: var(--white);
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px -5px var(--translucent-gray);
}

.form-container {
    width: 100%;
}

.form-element {
    margin: 2rem 0px;
}

.form-element .text-box {
    box-sizing: border-box;
    height: 3rem;
    border-radius: 0.5rem;
    padding: 10px;
    border: 1px solid var(--gray);
    width: 100%;
}

.form-element .text-box:focus-visible {
    outline: 1px solid var(--black);
}

.form-element label {
    margin: 5px 3px;
    display: block;
}

.center-text {
    text-align: center;
}

.nav-link {
    color: var(--primary-colour);
}