{% extends "base.html" %}

{% block content %}
<nav class="navbar">
	<a href="/" class="logo">
		<span class="left">Resume</span>
		<span class="right">Creator</span>
	</a>
	<a href="/login" class="border cta small">sign in</a>
	<a href="/signup" class="filled cta small">sign up</a>
</nav>

<div class="main-container">
	<div class="left column">
		<div class="headline">a resume creator app without any hassle</div>
		<div class="sub-headline">
			an open source app to create your resume easily and in just a few moments..
		</div>

		<a href="/signup" class="filled cta primary">create now</a>
	</div>

	<div class="right column">
		<img src="/static/images/resume-image.png" alt="resume-image" class="img" />
	</div>
</div>
{% endblock content %}