{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
</head>

<body>

    <div class="page" id="resume-print-area">

        <div class="subpage">

            <div class="resume-header">

                <div class="name-section">
                    <div class="name">
                        Sanket Pande
                    </div>
                    <div class="job-title">
                        Full Stack Engineer
                    </div>
                </div>

                <div class="info-section section-padding">
                    <div class="section-heading">
                        INFO
                    </div>

                    <div class="topic-container f-small">
                        <span class="sub-heading hlp">
                            Phone :
                        </span>
                        <span class="content hlp">
                            8459689469
                        </span>
                    </div>

                    <div class="topic-container f-small">
                        <span class="sub-heading hlp">
                            Email :
                        </span>
                        <span class="content hlp">
                            <a href="mailto: sanketpande99001@gmail.com" class="i-size">sanketpande99001@gmail.com</a>
                        </span>
                    </div>

                    <div class="topic-container f-small">
                        <span class="sub-heading hlp">
                            Linkedin :
                        </span>
                        <span class="content hlp">
                            <a href="https://www.linkedin.com/in/sanket-pande/"
                                class="i-size">https://www.linkedin.com/in/sanket-pande/</a>
                        </span>
                    </div>

                    <div class="topic-container f-small">
                        <span class="sub-heading hlp">
                            Github :
                        </span>
                        <span class="content hlp">
                            <a href="https://github.com/sanket-pande" class="i-size">https://github.com/sanket-pande</a>
                        </span>
                    </div>


                </div>

            </div>

            <div class="resume-body">

                <div class="left-body section-padding p-0">

                    <section class="resume-section">
                        <div class="section-heading">
                            SKILLS
                        </div>

                        <div class="skill-name">Languages and Frameworks</div>
                        <ul class="skill-list lang-frmwrk">
                            <li>Python</li>
                            <li>Django</li>
                            <li>Docker</li>
                            <li>MySQL</li>
                            <li>MSSQL</li>
                            <li>Solr</li>
                            <li>Git</li>
                            <li>Javascript</li>
                            <li>Angular</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>React</li>
                            <li>SCSS</li>
                            <li>Bootstrap</li>
                            <li>Android</li>
                            <li>NodeJS</li>
                            <li>Java</li>
                            <li>Kotlin</li>
                            <li>PHP</li>
                            <li>Drupal</li>
                            <li>CICD</li>
                            <li>Jenkins</li>
                            <li>PostgreSQL</li>
                        </ul>

                        <div class="skill-name">Interpersonal Skills</div>
                        <ul class="skill-list last-list">
                            <li>Worked with users to extract the requirement and provide solutions.</li>
                            <li>Lead Product team of 10+ people including Developers, QAs and BAs.</li>
                            <li>Collaborated with various seasoned developers around the world.</li>
                        </ul>

                    </section>

                    <section class="resume-section">
                        <div class="section-heading">
                            EDUCATION
                        </div>

                        <div class="point-container">
                            <div class="sub-heading ">
                                Bachelor of Engineering (2015-2019)
                            </div>
                            <div class="content f-small">
                                JSPM's Rajarshi Shahu College of Engineering, Tathawade, Pune
                            </div>
                            <div class="content f-small">
                                <span class="i-size">SGPA:</span>
                                <span class="i-size">7.26</span>
                            </div>
                        </div>

                        <div class="point-container">
                            <div class="sub-heading ">
                                HSC (12th Grade) (2015)
                            </div>
                            <div class="content f-small">
                                Bharat English School and Junior College, Shivajinagar, Pune
                            </div>
                            <div class="content f-small">
                                <span class="i-size">Percentage:</span>
                                <span class="i-size">72.2</span>
                            </div>
                        </div>

                        <div class="point-container">
                            <div class="sub-heading ">
                                AISSC (10th Grade) (2013)
                            </div>
                            <div class="content f-small">
                                Bharati Vidyapeeth's English Medium School, Balewadi, Pune
                            </div>
                            <div class="content f-small">
                                <span class="i-size">Percentage:</span>
                                <span class="i-size">84.4</span>
                            </div>
                        </div>
                    </section>

                </div>
                <div class="right-body section-padding p-0">

                    <section class="resume-section">
                        <div class="section-heading">
                            PROFILE
                        </div>
                        <div class="p-summary content">
                            I am a Full Stack Engineer with hands-on experience designing and developing applications
                            and solutions using various technologies and programming languages. Seeking to leverage my
                            skills in a challenging role.
                        </div>
                    </section>

                    <section class="resume-section employment">
                        <div class="section-heading">
                            EMPLOYMENT HISTORY
                        </div>
                        <!-- <div class="point-container">
                            <div class="post">
                                <div class="content b">
                                    Senior Software Engineer
                                </div>
                                <div class="company">
                                    WhiteSnow Software Consultancy
                                </div>
                            </div>
                            <div class="duration b">
                                (April 2022 - Present)
                            </div>
                        </div> -->
                        <div class="point-container">
                            <div class="post">
                                <div class="content b">
                                    Fullstack Developer
                                </div>
                                <div class="company">
                                    Axonator
                                </div>
                            </div>
                            <div class="duration b">
                                (April 2021 - Present)
                            </div>
                        </div>
                        <div class="point-container">
                            <div class="post">
                                <div class="content b">
                                    Solution Analyst
                                </div>
                                <div class="company">
                                    (Fullstack Developer)
                                    <br>
                                    Sankey Solutions
                                </div>
                            </div>
                            <div class="duration b">
                                (July 2019 - March 2021)
                            </div>
                        </div>
                    </section>

                    <!-- <div class="b-line"></div> -->

                    <section class="resume-section experience">
                        <div class="section-heading">
                            EXPERIENCE AND PROJECTS
                        </div>

                        <div class="point-container">
                            <div class="content b f-mid">
                                Backend and DevOps
                            </div>
                            <ul class="skill-list">
                                <li>
                                    Worked on
                                    <span class="b">Axonator</span> - A No Code Form Builder and Data Collection App,
                                    with a <span class="b">tech stack</span> of backend technologies such as
                                    <span class="b">python and django</span>, <span class="b">solr</span> - search
                                    engine, <span class="b">AWS Cloud</span> and SRE tools like
                                    <span class="b">Docker and Jenkins</span>.
                                </li>
                                <li>
                                    <span class="b">Containerized</span> the complete infrastructure of Axonator for
                                    on-premise setup for both windows and linux environment, this decreased our initial
                                    infrastructure setup time by 90%.
                                </li>
                                <li>
                                    <span class="b">Optimized</span> the process of creating an Excel workbook for
                                    thousands of records containing JSON data, reducing the time by 50%.
                                </li>
                                <li>
                                    <span class="b">Optimized</span> the process of sending app structure and forms from
                                    server to mobile devices, reducing the time by 70%.
                                </li>
                                <li>
                                    <span class="b">Automated</span> all the operational tasks by implementing CICD
                                    pipeline for Web and Mobile application with analysis report, reducing build issues
                                    by 40%
                                </li>
                            </ul>
                        </div>

                        <div class="point-container">
                            <div class="content b f-mid">Frontend Developement</div>
                            <ul class="skill-list">
                                <li>
                                    Created form builder and workflow builder using AngularJS while working on Axonator.
                                </li>
                                <li>
                                    Worked on a SAAS product, used to convert word document to html and vice versa with
                                    Angular 8.
                                </li>
                                <li>
                                    Implemented a graphical dashboard with Angular 13 for dynamically rendering graphs
                                    using apexcharts.
                                </li>
                            </ul>
                        </div>

                        <div class="point-container">
                            <div class="content b f-mid">Side Projects</div>
                            <ul class="skill-list">
                                <li>
                                    Created a simple HTML page to create and update my resume.
                                </li>
                                <li>
                                    Springboot project for simple issue tracking and project management.
                                </li>
                            </ul>
                        </div>

                    </section>



                </div>

            </div>

        </div>
    </div>

</body>

</html>